<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/loginStyles.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="login-container">
        <img src="{% static 'images/KonradLogo.png'%}" alt="logo-k" class="logo">
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="login-button">Iniciar sesión</button>
        </form>

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    </div>
</body>
</html>
